body{
    background-color: antiquewhite;
}
h1#greeting{
background-color:brown;
color:beige

}

.textalign{
    text-align: center;
}

div.jumbotron{
    background-color: blanchedalmond;
    
}
.btn{
    display: flex;
    justify-content: center;
}
#btn{
    background-color: rgb(30, 137, 123);
    color:beige
}
div.container{
    width: 150px;
 color: bisque;
 background-color:  rgb(30, 137, 123);
}